
BasicCliCalculator/BasicCliCalculator.csproj
BasicCliCalculator/obj/BasicCliCalculator.csproj.nuget.dgspec.json
BasicCliCalculator/obj/BasicCliCalculator.csproj.nuget.g.props
BasicCliCalculator/obj/BasicCliCalculator.csproj.nuget.g.targets
BasicCliCalculator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.AssemblyInfo.cs
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.AssemblyInfoInputs.cache
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.assets.cache
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.GeneratedMSBuildEditorConfig.editorconfig
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.GlobalUsings.g.cs
BasicCliCalculator/obj/project.assets.json
BasicCliCalculator/obj/project.nuget.cache
FibonacciSeries/FibonacciSeries.csproj
FibonacciSeries/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.AssemblyInfo.cs
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.AssemblyInfoInputs.cache
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.assets.cache
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.GeneratedMSBuildEditorConfig.editorconfig
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.GlobalUsings.g.cs
FibonacciSeries/obj/FibonacciSeries.csproj.nuget.dgspec.json
FibonacciSeries/obj/FibonacciSeries.csproj.nuget.g.props
FibonacciSeries/obj/FibonacciSeries.csproj.nuget.g.targets
FibonacciSeries/obj/project.assets.json
FibonacciSeries/obj/project.nuget.cache
FindPowerByRecursion/FindPowerByRecursion.csproj
FindPowerByRecursion/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.AssemblyInfo.cs
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.AssemblyInfoInputs.cache
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.assets.cache
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.GeneratedMSBuildEditorConfig.editorconfig
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.GlobalUsings.g.cs
FindPowerByRecursion/obj/FindPowerByRecursion.csproj.nuget.dgspec.json
FindPowerByRecursion/obj/FindPowerByRecursion.csproj.nuget.g.props
FindPowerByRecursion/obj/FindPowerByRecursion.csproj.nuget.g.targets
FindPowerByRecursion/obj/project.assets.json
FindPowerByRecursion/obj/project.nuget.cache
PrimeCompositPrinter/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.AssemblyInfo.cs
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.AssemblyInfoInputs.cache
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.assets.cache
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.GeneratedMSBuildEditorConfig.editorconfig
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.GlobalUsings.g.cs
PrimeCompositPrinter/obj/PrimeCompositPrinter.csproj.nuget.dgspec.json
PrimeCompositPrinter/obj/PrimeCompositPrinter.csproj.nuget.g.props
PrimeCompositPrinter/obj/PrimeCompositPrinter.csproj.nuget.g.targets
PrimeCompositPrinter/obj/project.assets.json
PrimeCompositPrinter/obj/project.nuget.cache
PrimeCompositPrinter/PrimeCompositPrinter.csproj
StringManipulations/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
StringManipulations/obj/Debug/net8.0/StringManipulations.AssemblyInfo.cs
StringManipulations/obj/Debug/net8.0/StringManipulations.AssemblyInfoInputs.cache
StringManipulations/obj/Debug/net8.0/StringManipulations.assets.cache
StringManipulations/obj/Debug/net8.0/StringManipulations.GeneratedMSBuildEditorConfig.editorconfig
StringManipulations/obj/Debug/net8.0/StringManipulations.GlobalUsings.g.cs
StringManipulations/obj/project.assets.json
StringManipulations/obj/project.nuget.cache
StringManipulations/obj/StringManipulations.csproj.nuget.dgspec.json
StringManipulations/obj/StringManipulations.csproj.nuget.g.props
StringManipulations/obj/StringManipulations.csproj.nuget.g.targets
StringManipulations/StringManipulations.csproj
StudentsDatabase/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
StudentsDatabase/obj/Debug/net8.0/StudentsDatabase.AssemblyInfo.cs
StudentsDatabase/obj/Debug/net8.0/StudentsDatabase.AssemblyInfoInputs.cache
StudentsDatabase/obj/Debug/net8.0/StudentsDatabase.assets.cache
StudentsDatabase/obj/Debug/net8.0/StudentsDatabase.GeneratedMSBuildEditorConfig.editorconfig
StudentsDatabase/obj/Debug/net8.0/StudentsDatabase.GlobalUsings.g.cs
StudentsDatabase/obj/project.assets.json
StudentsDatabase/obj/project.nuget.cache
StudentsDatabase/obj/StudentsDatabase.csproj.nuget.dgspec.json
StudentsDatabase/obj/StudentsDatabase.csproj.nuget.g.props
StudentsDatabase/obj/StudentsDatabase.csproj.nuget.g.targets
StudentsDatabase/StudentsDatabase.csproj
VowelsCounter/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
VowelsCounter/obj/Debug/net8.0/VowelsCounter.AssemblyInfo.cs
VowelsCounter/obj/Debug/net8.0/VowelsCounter.AssemblyInfoInputs.cache
VowelsCounter/obj/Debug/net8.0/VowelsCounter.assets.cache
VowelsCounter/obj/Debug/net8.0/VowelsCounter.GeneratedMSBuildEditorConfig.editorconfig
VowelsCounter/obj/Debug/net8.0/VowelsCounter.GlobalUsings.g.cs
VowelsCounter/obj/project.assets.json
VowelsCounter/obj/project.nuget.cache
VowelsCounter/obj/VowelsCounter.csproj.nuget.dgspec.json
VowelsCounter/obj/VowelsCounter.csproj.nuget.g.props
VowelsCounter/obj/VowelsCounter.csproj.nuget.g.targets
VowelsCounter/VowelsCounter.csproj
FibonacciSeries/bin/Debug/net8.0/FibonacciSeries.deps.json
FibonacciSeries/bin/Debug/net8.0/FibonacciSeries.dll
FibonacciSeries/bin/Debug/net8.0/FibonacciSeries.exe
FibonacciSeries/bin/Debug/net8.0/FibonacciSeries.pdb
FibonacciSeries/bin/Debug/net8.0/FibonacciSeries.runtimeconfig.json
FibonacciSeries/obj/Debug/net8.0/apphost.exe
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.csproj.CoreCompileInputs.cache
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.csproj.FileListAbsolute.txt
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.dll
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.genruntimeconfig.cache
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.pdb
FibonacciSeries/obj/Debug/net8.0/FibonacciSeries.sourcelink.json
FibonacciSeries/obj/Debug/net8.0/ref/FibonacciSeries.dll
FibonacciSeries/obj/Debug/net8.0/refint/FibonacciSeries.dll
FindPowerByRecursion/bin/Debug/net8.0/FindPowerByRecursion.deps.json
FindPowerByRecursion/bin/Debug/net8.0/FindPowerByRecursion.dll
FindPowerByRecursion/bin/Debug/net8.0/FindPowerByRecursion.exe
FindPowerByRecursion/bin/Debug/net8.0/FindPowerByRecursion.pdb
FindPowerByRecursion/bin/Debug/net8.0/FindPowerByRecursion.runtimeconfig.json
FindPowerByRecursion/obj/Debug/net8.0/apphost.exe
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.csproj.CoreCompileInputs.cache
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.csproj.FileListAbsolute.txt
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.dll
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.genruntimeconfig.cache
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.pdb
FindPowerByRecursion/obj/Debug/net8.0/FindPowerByRecursion.sourcelink.json
FindPowerByRecursion/obj/Debug/net8.0/ref/FindPowerByRecursion.dll
FindPowerByRecursion/obj/Debug/net8.0/refint/FindPowerByRecursion.dll
PrimeCompositPrinter/bin/Debug/net8.0/PrimeCompositPrinter.deps.json
PrimeCompositPrinter/bin/Debug/net8.0/PrimeCompositPrinter.dll
PrimeCompositPrinter/bin/Debug/net8.0/PrimeCompositPrinter.exe
PrimeCompositPrinter/bin/Debug/net8.0/PrimeCompositPrinter.pdb
PrimeCompositPrinter/bin/Debug/net8.0/PrimeCompositPrinter.runtimeconfig.json
PrimeCompositPrinter/obj/Debug/net8.0/apphost.exe
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.csproj.CoreCompileInputs.cache
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.csproj.FileListAbsolute.txt
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.dll
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.genruntimeconfig.cache
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.pdb
PrimeCompositPrinter/obj/Debug/net8.0/PrimeCompositPrinter.sourcelink.json
PrimeCompositPrinter/obj/Debug/net8.0/ref/PrimeCompositPrinter.dll
PrimeCompositPrinter/obj/Debug/net8.0/refint/PrimeCompositPrinter.dll
VowelsCounter/bin/Debug/net8.0/VowelsCounter.deps.json
VowelsCounter/bin/Debug/net8.0/VowelsCounter.dll
VowelsCounter/bin/Debug/net8.0/VowelsCounter.exe
VowelsCounter/bin/Debug/net8.0/VowelsCounter.pdb
VowelsCounter/bin/Debug/net8.0/VowelsCounter.runtimeconfig.json
VowelsCounter/obj/Debug/net8.0/apphost.exe
VowelsCounter/obj/Debug/net8.0/ref/VowelsCounter.dll
VowelsCounter/obj/Debug/net8.0/refint/VowelsCounter.dll
VowelsCounter/obj/Debug/net8.0/VowelsCounter.csproj.CoreCompileInputs.cache
VowelsCounter/obj/Debug/net8.0/VowelsCounter.csproj.FileListAbsolute.txt
VowelsCounter/obj/Debug/net8.0/VowelsCounter.dll
VowelsCounter/obj/Debug/net8.0/VowelsCounter.genruntimeconfig.cache
VowelsCounter/obj/Debug/net8.0/VowelsCounter.pdb
VowelsCounter/obj/Debug/net8.0/VowelsCounter.sourcelink.json
.vs/CSHARP/FileContentIndex/5ebae845-c0f1-4e47-bfa5-66aea9c68be0.vsidx
.vs/CSHARP/v17/.wsuo
.vs/CSHARP/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/7bc35646-e324-4442-abe9-4aa2080606f9.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/v17/.suo
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/v17/DocumentLayout.json
DecimalToBinarySTACK/App.config
DecimalToBinarySTACK/DecimalToBinarySTACK.csproj
DecimalToBinarySTACK/DecimalToBinarySTACK.sln
DecimalToBinarySTACK/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.csproj.AssemblyReference.cache
DecimalToBinarySTACK/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DecimalToBinarySTACK/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DecimalToBinarySTACK/obj/Release/DecimalToBinarySTACK.csproj.AssemblyReference.cache
DecimalToBinarySTACK/Properties/AssemblyInfo.cs
EvenOddChecker/.vs/EvenOddChecker/FileContentIndex/b34b8e97-ae1c-4d6e-880e-38ea7fd38276.vsidx
EvenOddChecker/.vs/EvenOddChecker/v17/.suo
EvenOddChecker/.vs/EvenOddChecker/v17/DocumentLayout.json
EvenOddChecker/App.config
EvenOddChecker/bin/Debug/EvenOddChecker.exe
EvenOddChecker/bin/Debug/EvenOddChecker.exe.config
EvenOddChecker/bin/Debug/EvenOddChecker.pdb
EvenOddChecker/EvenOddChecker.csproj
EvenOddChecker/EvenOddChecker.sln
EvenOddChecker/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EvenOddChecker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EvenOddChecker/obj/Debug/EvenOddChecker.csproj.AssemblyReference.cache
EvenOddChecker/obj/Debug/EvenOddChecker.csproj.CoreCompileInputs.cache
EvenOddChecker/obj/Debug/EvenOddChecker.csproj.FileListAbsolute.txt
EvenOddChecker/obj/Debug/EvenOddChecker.exe
EvenOddChecker/obj/Debug/EvenOddChecker.pdb
EvenOddChecker/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EvenOddChecker/obj/Release/EvenOddChecker.csproj.AssemblyReference.cache
EvenOddChecker/Properties/AssemblyInfo.cs
BasicCliCalculator/obj/project.packagespec.json
BasicCliCalculator/obj/rider.project.restore.info
FibonacciSeries/obj/project.packagespec.json
FibonacciSeries/obj/rider.project.restore.info
FindPowerByRecursion/obj/project.packagespec.json
FindPowerByRecursion/obj/rider.project.restore.info
PrimeCompositPrinter/obj/project.packagespec.json
PrimeCompositPrinter/obj/rider.project.restore.info
StringManipulations/obj/project.packagespec.json
StringManipulations/obj/rider.project.restore.info
StudentsDatabase/obj/project.packagespec.json
StudentsDatabase/obj/rider.project.restore.info
VowelsCounter/obj/project.packagespec.json
VowelsCounter/obj/rider.project.restore.info
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.csproj.CoreCompileInputs.cache
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.csproj.FileListAbsolute.txt
.vscode/launch.json
.vscode/settings.json
Addition/Addition.csproj
Addition/bin/Debug/net8.0/Addition.deps.json
Addition/bin/Debug/net8.0/Addition.dll
Addition/bin/Debug/net8.0/Addition.exe
Addition/bin/Debug/net8.0/Addition.pdb
Addition/bin/Debug/net8.0/Addition.runtimeconfig.json
Addition/obj/Addition.csproj.nuget.dgspec.json
Addition/obj/Addition.csproj.nuget.g.props
Addition/obj/Addition.csproj.nuget.g.targets
Addition/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Addition/obj/Debug/net8.0/Addition.AssemblyInfo.cs
Addition/obj/Debug/net8.0/Addition.AssemblyInfoInputs.cache
Addition/obj/Debug/net8.0/Addition.assets.cache
Addition/obj/Debug/net8.0/Addition.csproj.CoreCompileInputs.cache
Addition/obj/Debug/net8.0/Addition.csproj.FileListAbsolute.txt
Addition/obj/Debug/net8.0/Addition.dll
Addition/obj/Debug/net8.0/Addition.GeneratedMSBuildEditorConfig.editorconfig
Addition/obj/Debug/net8.0/Addition.genruntimeconfig.cache
Addition/obj/Debug/net8.0/Addition.GlobalUsings.g.cs
Addition/obj/Debug/net8.0/Addition.pdb
Addition/obj/Debug/net8.0/Addition.sourcelink.json
Addition/obj/Debug/net8.0/apphost.exe
Addition/obj/Debug/net8.0/ref/Addition.dll
Addition/obj/Debug/net8.0/refint/Addition.dll
Addition/obj/project.assets.json
Addition/obj/project.nuget.cache
BasicCliCalculator/bin/Debug/net8.0/BasicCliCalculator.deps.json
BasicCliCalculator/bin/Debug/net8.0/BasicCliCalculator.dll
BasicCliCalculator/bin/Debug/net8.0/BasicCliCalculator.exe
BasicCliCalculator/bin/Debug/net8.0/BasicCliCalculator.pdb
BasicCliCalculator/bin/Debug/net8.0/BasicCliCalculator.runtimeconfig.json
BasicCliCalculator/obj/Debug/net8.0/apphost.exe
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.csproj.CoreCompileInputs.cache
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.csproj.FileListAbsolute.txt
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.dll
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.genruntimeconfig.cache
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.pdb
BasicCliCalculator/obj/Debug/net8.0/BasicCliCalculator.sourcelink.json
BasicCliCalculator/obj/Debug/net8.0/ref/BasicCliCalculator.dll
BasicCliCalculator/obj/Debug/net8.0/refint/BasicCliCalculator.dll
CSHARP.sln
DecimalAndBinaryConversion/bin/Debug/net8.0/DecimalAndBinaryConversion.deps.json
DecimalAndBinaryConversion/bin/Debug/net8.0/DecimalAndBinaryConversion.dll
DecimalAndBinaryConversion/bin/Debug/net8.0/DecimalAndBinaryConversion.exe
DecimalAndBinaryConversion/bin/Debug/net8.0/DecimalAndBinaryConversion.pdb
DecimalAndBinaryConversion/bin/Debug/net8.0/DecimalAndBinaryConversion.runtimeconfig.json
DecimalAndBinaryConversion/DecimalAndBinaryConversion.csproj
DecimalAndBinaryConversion/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DecimalAndBinaryConversion/obj/Debug/net8.0/apphost.exe
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.AssemblyInfo.cs
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.AssemblyInfoInputs.cache
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.assets.cache
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.csproj.CoreCompileInputs.cache
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.csproj.FileListAbsolute.txt
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.dll
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.GeneratedMSBuildEditorConfig.editorconfig
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.genruntimeconfig.cache
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.GlobalUsings.g.cs
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.pdb
DecimalAndBinaryConversion/obj/Debug/net8.0/DecimalAndBinaryConversion.sourcelink.json
DecimalAndBinaryConversion/obj/Debug/net8.0/ref/DecimalAndBinaryConversion.dll
DecimalAndBinaryConversion/obj/Debug/net8.0/refint/DecimalAndBinaryConversion.dll
DecimalAndBinaryConversion/obj/DecimalAndBinaryConversion.csproj.nuget.dgspec.json
DecimalAndBinaryConversion/obj/DecimalAndBinaryConversion.csproj.nuget.g.props
DecimalAndBinaryConversion/obj/DecimalAndBinaryConversion.csproj.nuget.g.targets
DecimalAndBinaryConversion/obj/project.assets.json
DecimalAndBinaryConversion/obj/project.nuget.cache
DecimalAndBinaryConversion/Program.cs
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/1a4228c6-e554-45f0-9c48-a49db989be4a.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/91fe03b4-a6d3-42fc-bb02-79a96126a841.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/v17/.wsuo
DecimalToBinarySTACK/.vs/slnx.sqlite
DecimalToBinarySTACK/.vs/VSWorkspaceState.json
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.exe
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.exe.config
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.pdb
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.exe
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.pdb
DeligateMethodsLearning/bin/Debug/net8.0/DeligateMethodsLearning.deps.json
DeligateMethodsLearning/bin/Debug/net8.0/DeligateMethodsLearning.dll
DeligateMethodsLearning/bin/Debug/net8.0/DeligateMethodsLearning.exe
DeligateMethodsLearning/bin/Debug/net8.0/DeligateMethodsLearning.pdb
DeligateMethodsLearning/bin/Debug/net8.0/DeligateMethodsLearning.runtimeconfig.json
DeligateMethodsLearning/DeligateMethodsLearning.csproj
DeligateMethodsLearning/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DeligateMethodsLearning/obj/Debug/net8.0/apphost.exe
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.AssemblyInfo.cs
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.AssemblyInfoInputs.cache
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.assets.cache
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.csproj.CoreCompileInputs.cache
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.csproj.FileListAbsolute.txt
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.dll
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.GeneratedMSBuildEditorConfig.editorconfig
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.genruntimeconfig.cache
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.GlobalUsings.g.cs
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.pdb
DeligateMethodsLearning/obj/Debug/net8.0/DeligateMethodsLearning.sourcelink.json
DeligateMethodsLearning/obj/Debug/net8.0/ref/DeligateMethodsLearning.dll
DeligateMethodsLearning/obj/Debug/net8.0/refint/DeligateMethodsLearning.dll
DeligateMethodsLearning/obj/DeligateMethodsLearning.csproj.nuget.dgspec.json
DeligateMethodsLearning/obj/DeligateMethodsLearning.csproj.nuget.g.props
DeligateMethodsLearning/obj/DeligateMethodsLearning.csproj.nuget.g.targets
DeligateMethodsLearning/obj/project.assets.json
DeligateMethodsLearning/obj/project.nuget.cache
EvenOddChecker/bin/Debug/net8.0/EvenOddChecker.deps.json
EvenOddChecker/bin/Debug/net8.0/EvenOddChecker.dll
EvenOddChecker/bin/Debug/net8.0/EvenOddChecker.exe
EvenOddChecker/bin/Debug/net8.0/EvenOddChecker.pdb
EvenOddChecker/bin/Debug/net8.0/EvenOddChecker.runtimeconfig.json
EvenOddChecker/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EvenOddChecker/obj/Debug/net8.0/apphost.exe
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.AssemblyInfo.cs
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.AssemblyInfoInputs.cache
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.assets.cache
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.csproj.CoreCompileInputs.cache
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.csproj.FileListAbsolute.txt
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.dll
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.GeneratedMSBuildEditorConfig.editorconfig
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.genruntimeconfig.cache
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.GlobalUsings.g.cs
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.pdb
EvenOddChecker/obj/Debug/net8.0/EvenOddChecker.sourcelink.json
EvenOddChecker/obj/Debug/net8.0/ref/EvenOddChecker.dll
EvenOddChecker/obj/Debug/net8.0/refint/EvenOddChecker.dll
EvenOddChecker/obj/EvenOddChecker.csproj.nuget.dgspec.json
EvenOddChecker/obj/EvenOddChecker.csproj.nuget.g.props
EvenOddChecker/obj/EvenOddChecker.csproj.nuget.g.targets
EvenOddChecker/obj/project.assets.json
EvenOddChecker/obj/project.nuget.cache
PatternsPrinting/bin/Debug/net8.0/PatternsPrinting.deps.json
PatternsPrinting/bin/Debug/net8.0/PatternsPrinting.dll
PatternsPrinting/bin/Debug/net8.0/PatternsPrinting.exe
PatternsPrinting/bin/Debug/net8.0/PatternsPrinting.pdb
PatternsPrinting/bin/Debug/net8.0/PatternsPrinting.runtimeconfig.json
PatternsPrinting/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
PatternsPrinting/obj/Debug/net8.0/apphost.exe
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.AssemblyInfo.cs
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.AssemblyInfoInputs.cache
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.assets.cache
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.csproj.CoreCompileInputs.cache
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.csproj.FileListAbsolute.txt
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.dll
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.GeneratedMSBuildEditorConfig.editorconfig
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.genruntimeconfig.cache
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.GlobalUsings.g.cs
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.pdb
PatternsPrinting/obj/Debug/net8.0/PatternsPrinting.sourcelink.json
PatternsPrinting/obj/Debug/net8.0/ref/PatternsPrinting.dll
PatternsPrinting/obj/Debug/net8.0/refint/PatternsPrinting.dll
PatternsPrinting/obj/PatternsPrinting.csproj.nuget.dgspec.json
PatternsPrinting/obj/PatternsPrinting.csproj.nuget.g.props
PatternsPrinting/obj/PatternsPrinting.csproj.nuget.g.targets
PatternsPrinting/obj/project.assets.json
PatternsPrinting/obj/project.nuget.cache
PatternsPrinting/PatternsPrinting.csproj
CSHARP.sln
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/1a4228c6-e554-45f0-9c48-a49db989be4a.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/91fe03b4-a6d3-42fc-bb02-79a96126a841.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/v17/.wsuo
DecimalToBinarySTACK/.vs/slnx.sqlite
DecimalToBinarySTACK/.vs/VSWorkspaceState.json
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.exe
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.exe.config
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.pdb
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.exe
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.pdb
CSHARP.sln
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/1a4228c6-e554-45f0-9c48-a49db989be4a.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/FileContentIndex/91fe03b4-a6d3-42fc-bb02-79a96126a841.vsidx
DecimalToBinarySTACK/.vs/DecimalToBinarySTACK/v17/.wsuo
DecimalToBinarySTACK/.vs/slnx.sqlite
DecimalToBinarySTACK/.vs/VSWorkspaceState.json
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.exe
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.exe.config
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.pdb
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.exe
DecimalToBinarySTACK/obj/Debug/DecimalToBinarySTACK.pdb
DecimalToBinarySTACK/bin/Debug/DecimalToBinarySTACK.pdb
